<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form action="/api/v1/users" method="POST">
        <h2>Registro</h2>
        <h3>Usuario</h3>
        <h2>Nombre</h2>
        <input type="text" id="nombre" name="nombre">
        <h2>apellido</h2>
        <input type="text" id="apellido" name="apellido">
        <h2>rut</h2>
        <input type="text" id="rut" name="rut">
        <h2>Contraseña</h2>
        <input type="text" id="contrasenna" name="contrasenna">
        <h2>celular</h2>
        <input type="text" id="celular" name="celular">
        <h2>fecha cumpleaños</h2>
        <input type="text" id="fechaCumpleannos" name="fechaCumpleannos">
        <h2>rol</h2>
        <input type="text" id="rol" name="rol">
        <h2>estatus</h2>
        <input type="text" id="estatus" name="estatus">
        <h2>genero</h2>
        <input type="text" id="genero" name="genero">

        <input type="submit" value="Registrar">
    </form>
</body>
</html>