<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form action="/api/v1/auth/register" method="POST">
        <h2>Registro</h2>
        <h3>Usuario</h3>
        <input type="text" id="username" name="username">
        <h3>Contraseña</h3>
        <input type="password" id="password" name="password">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>